{%extends "base.html"%}
{% block title %}Game{% endblock %}
{% block content%}
<form method="POST">
    <h1 align="center">
        Rock! Paper! Scissors!
    </h1>
    <p align="right">
            Gracz:
    </p>
    <div class="form-group">
        <label for="Bet">Your Bet</label>
        <input 
            type="Bet" 
            class="form-control" 
            id="Bet" 
            name="Bet" 
            placeholder="Enter: Rock, Paper or Scissors!"
        />
    </div>
    <br />
    <button align="center" type="submit" class="btn btn-primary">Submit my Bet</button>
</form>
<br />
<p>
    <span style="float:left;">
        Wynik:
    </span>
    <span style="float:right;">
        Kredyty:
    </span>
</p>
{%endblock%}
{% block Nazwa %}

{% endblock %}