{%extends "base.html"%}
{% block title %}Game{% endblock %}
{% block content%}
<form method="POST">
    <h1 align="center">
        Rock! Paper! Scissors!
    </h1>
    <div class="form-group">
        <label for="Bet">Your Bet</label>
        <input 
            type="Bet" 
            class="form-control" 
            id="Bet" 
            name="Bet" 
            placeholder="Enter: Rock, Paper or Scissors!"
        />
    </div>
    <br />
    <button align="center" type="submit" class="btn btn-primary">Submit my Bet</button>
</form>
<br />
<table style="margin-left: 20px;">
    <tr>
        <td>
            <h6>Players Name:</h6>{{PlayerName}}
        </td>
    </tr>
    <tr>
        <td>
            <h6>Players Tag:</h6>{{PlayerTag}}
        </td>
    </tr>
    <tr>
        <td>
            <h6>Players Kredits:</h6>{{Kreds}}
        </td>
    </tr>
</table>
{%endblock%}
{% block Nazwa %}

{% endblock %}