{%extends "base.html"%}
{% block title %}Score{% endblock %}
{% block content%}
<h3 align="center">
    Your Score:
</h3>
<br/>
<ul class="list-group list-group-flush" id="statistics">
    {% for game in new_player.game %}
        <li class="list-group-item">
            {{ game.win , game.lose , game.Kreds, game.data }}
        </li>
    {% endfor%}
</ul>
<form method="POST">
    <button type="submit" name="1" class="btn btn-primary">Play Again!</button>
    <button type="submit" name="2" class="btn btn-primary">End Game</button>
</form>
{%endblock%}
{% block Nazwa %}
{% endblock %}